<div class='container' style='max-width: 235px; background: #b9d3ea; border-radius: 10px; padding-top: 10px;'>
<h1>Login</h1>
<hr>
   <%= form_for :session, url: '/login', local: true do |f| %>
   <p>
   Name:<br>
   <%= f.text_field :name %>
   </p>
<hr>
   <p>
   Password:<br>
   <%= f.password_field :password_digest%>
   </p>
<hr>
   <%= f.submit "Login" , style:'margin-bottom: 20px;' %><br>
<%end%>
</div>