<div class="text-center">

<% if logged_in? %>
    <h1>You are Logged In, <%= current_staff_member.name %></h1>
    <%= button_to "Logout" , 'sessions#destroy', method: :delete%>
<%end%>
<%if !logged_in? %>
<h1>Please login</h1>
<%= button_to "Sign Up",'/staffmembers/new' , method: :get%>
<%= button_to "Login", '/stafflogin', method: :get%>
<%end%>
</div>