<div class="container">
<% if logged_in? %>
    <h1>You are logged in, <%= current_staff_member.name %></h1>
    <hr>
    <%= button_to "Logout" , '/sessions', method: :delete %><br>
    <%= button_to "New staff member",'/staffmembers/new' , method: :get%>
<%end%>
<%if !logged_in? %>
<h1>Please login</h1>
<hr>
<%= button_to "Login", '/stafflogin', method: :get%>
<%end%>
</div>