<div class='container'>
<h1>All staff members: </h1>
<% @staff_members.each do |member| %>
        <p> Name: <%= member.name %> </p>
        <%= button_to 'Set owner' , controller: :requests , action: :update_owner, data: { request_owner: member.name }   %>
        <hr>
 <%end%>
 </div>