<div class='container' style='max-width: 235px; background: aliceblue;'>
<h1>New staff member</h1>
<hr>
   <%= form_for :staff_member, local: true do |f| %>
   <p>
   Name:<br>
   <%= f.text_field :name %>
   </p>
<hr>
   <p>
   Password:<br>
   <%= f.password_field :password_digest%>
   </p>
<hr>
   <%= f.submit "Create" , style:'margin-bottom: 20px;'%>
<%end%>
</div>