<div class="text-center">
    <h1>Welcome to the Support Issue Tracking</h1>
    <h2>
      This is the home page for the Support Issue Tracking application.
    </h2>
    <%= link_to "New request", new_user_path , class: "btn btn-lg btn-primary" %>
  </div>